body {
	font-size: 3em;
	background-color: lightblue;
}

hr {
	border-style: solid
}

ul,li{
	list-style-type: none;
	margin-left: -2%;
}

.Gambar {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 20%;
	height: 20%;
}

h1 {
	text-align: center;
	font-size: 1em;
	color: navy;
}

form {
	text-align: center;
}

input {
	font-size: 1em;
	width: 100%;
	height: 75px;
}

button {
	font-size: 1em;
	width: 100%;
}

#slider {
	width: 75%;
}